{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">

   <title>{% if page_title %}{{ page_title }}{% else %}{% trans "No page title set." %}{% endif %}</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Le styles -->
    <link href="/site_media/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/bootstrap/assets/css/bootstrap-editable.css" rel="stylesheet">
    <!--[if lt IE 7]><link rel="stylesheet" href="/site_media/bootstrap-image-gallery/css/bootstrap-ie6.min.css"><![endif]-->
    <style>
      body {
        padding-top: 35px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/site_media/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="#">  {% if page_title %}{{ page_title }}{% else %}No page title set.{% endif %}</a>
<div class="nav-collapse collapse">
    <ul class="nav pull-right">
        <li class="dropdown">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    {% trans "Language" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                {% for lang in LANGUAGES %}
                    <li>
                        <a href="#" onclick="post_to_url('i18n/setlang/', {'language':'{{ lang.0 }}','csrfmiddlewaretoken': getCookie('csrftoken')});">{{ lang.1 }}</a>
                    </li>
                {% endfor %}
                    </ul>
            </div>

            </ul>
        </li>
    </ul>
</div><!--/.nav-collapse -->
</div>
</div>
</div>
<hr>
<div class="container-fluid">
<div class="row-fluid">

{% block navigation %} {% endblock %}


{% block content %} {% endblock %}

</div>
</div> <!--container-fluid-->



  <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/bootstrap/assets/js/jquery.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-editable.js"></script>
    <script>

        $('#editable a').editable({
            url: '/postAlias/',
        });

    </script>

    <script language="javascript" type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function linkPost(post_value) {
            document.search_form['q'].value = post_value;
            document.search_form.submit();
        }
        function linkDelete(post_value) {
        $.ajax({
            type: "GET",
            url: "/options/",
            data: "id=" + post_value,
            success: function(){
                $('.editable-container').find('.editable-cancel').click();
                $("#subnets tr[id='id_" + post_value + "']").hide()
            },
            error:function(){
                alert("{% trans "Cannot be deleted" %}");
            }
        })
        }

        function refreshLeases(url) {
            $.ajax({
                success: function(){
                    $('#editable').fadeOut('slow').load(url).fadeIn("slow");
                },
                error:function(){
                    alert("{% trans "Cannot be refreshed" %}");
                }

            })
        }


        function setDaemon(post_value,csrf_protect) {
            $.ajax({
                type: "POST",
                url: "/options/",
                data: "set_status=" + post_value + "&csrfmiddlewaretoken=" + csrf_protect,
                success: function(){

                    if (post_value==1)
                    {
                        $('div#start').hide();
                        $('div#stop').show();
                    }
                    else
                    {
                        $('div#stop').hide();
                        $('div#start').show();
                    }

                },
                error:function(){
                    alert("{% trans "Cannot be started" %}");
                }
            })
        }

        function post_to_url(path, params, method) {
            method = method || "post";

            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }
    </script>

    <script src="/site_media/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="/site_media/bootstrap/assets/js/bootstrap-typeahead.js"></script>
</body>
</html>
