{% extends "base/base.html" %}
{% load i18n %}

        {% block navigation %}
           <div class="span2">
		<ul class="nav nav-main">
			<li><a href="{% url homePage %}"><i class="icon-home"></i> {% trans "Homepage" %}</a></li>
			<li><a href="{% url listLeases leases="active" %}"><i class="icon-leaf"></i> {% trans "Active Leases" %} ({{ count|first }})</a></li>
			<li><a href="{% url listLeases leases="expired" %}"><i class="icon-fire"></i> {% trans "Expired Leases" %} ({{ count|last }})</a></li>
			<li><a href="#"><i class="icon-filter"></i> {% trans "Advanced Search"  %}</a></li>
            <li><a href="{% url IPv4map %}"><i class="icon-eye-close"></i> {% trans "IP Address Blocks"  %}</a></li>
		</ul>
           </div>
        {% endblock %}
        {% block content %}
      <div class="span9">
       	{% block left %}  {% endblock %}
      </div>
        {% endblock %}
