{% extends "base/layout1.html" %}
{% load i18n %}
{% block left %}
    <div align=left>

    </div>
    <div align=right>
        <form class="form-search" name="search_form" id="search_form" method="POST" action="/listLeases/all">
            <a href=# onclick="refreshLeases('{% url getLeases leases=current_leases %}')"><i class="icon-refresh"></i> {% trans "Refresh" %}</a>
        {% csrf_token %}
        <input id="q" name="q" type="text" class="input-medium search-query">
        <button name="searchSubmit" type="submit" class="btn">{% trans "Filter" %}</button>
    </form>
</div>
<div id="editable">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "UID" %}</th>
            <th>{% trans "IP" %}</th>
            <th>{% trans "Mac" %}</th>
            <th>{% trans "Client-Name" %}</th>
            <th>{% trans "Starts" %}</th>
            <th>{% trans "Ends" %}</th>
            <th>{% trans "Subnet" %}</th>
        </tr>
        </thead>
        <tbody>



        {% for lease,value in result.items %}

            <tr class="{% if lease.ends > now %}info{% else %}error{% endif %}">
                <td>{{ lease.uid }}</td>
                <td>    <a href="#" id="{{ lease.id }}" data-type="text" data-name="ip" data-pk="{{ lease.id }}" data-title="{{ lease.ip.v4 }} - <a href='#' onClick=linkPost('{{ lease.ip.v4 }}'); >{% trans 'Show History</a>' %}" >{% if value.0 != None and value.0 %} {{ value.0 }} {% else %} {{ lease.ip.v4 }} {% endif %}</a></td>
                <td><a href="#"  id="{{ lease.id }}" data-type="text" data-name="mac" data-pk="{{ lease.id }}" data-title="{{ lease.mac.mac }} - <a href='#' onClick=linkPost('{{ lease.mac.mac }}'); >{% trans 'Show History</a>' %}" >{% if value.1 and value.1 != None %} {{ value.1 }} {% else %} {{ lease.mac.mac }} {% endif %}</a></td>
                <td>{{ lease.client }}</td>
                <td>{{ lease.starts }} </td>
                <td>{{ lease.ends }} </td>
                <td>{% if lease.subnetAlias != "0" %}{{ lease.subnetAlias }} {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if leases_list.has_previous %}
            <a href="?page={{ leases_list.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ leases_list.number }} of {{ leases_list.paginator.num_pages }}.
        </span>

        {% if leases_list.has_next %}
            <a href="?page={{ leases_list.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

{% endblock %}
