{% extends "base/layout1.html" %}
{% load i18n %}


{% block left %}

<form method="POST">
 <fieldset>
    <legend>{% trans "Leases File Path" %}</legend>
    <input type="text" name="file_path" placeholder="Eg: /var/lib/dhcp.leases">
     {% csrf_token %}
    <span class="help-block"> {% if path_file != "0" %}{% trans "Current Path:" %}<b>{{ path_file|safe }}</b> {% else %} {% trans "Leave empty for default. Default: <b>/var/lib/dhcp.leases</b>" %} {% endif %}</span>
    <label class="checkbox">
    </label>
    <button type="submit" class="btn">{% trans "Submit" %}</button>
 </fieldset>
</form>


{% endblock %}


